#header {
    margin-bottom: 32px;
    text-align: center;
  }
#main {
    width: 680px;
    margin-left: 35%;
    
  }
  .main_section{
    margin-left: 770px;
  }
#img {
    margin-left: 45%;
}